body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace; 
    max-width: 0 auto;
    padding: 15px;
    position: fixed;
}

li{

 display: inline-block;
 margin: 20px;
 
}
 a{
     color: white;
 }